:host {
    flex: 1 0 0;
    display: grid;
    
    main {
        flex: 1 0 0;
        display: flex;
        flex-direction: column;
        background: #000;
        overflow-y: hidden;
    }
}

@media (min-width: 768px) and (orientation: portrait), (min-width: 824px) and (orientation: landscape) {
    :host {
        grid-template-columns: 100px 1fr;
    }
}

@media (min-width: 1024px) {
    :host {
        grid-template-columns: 230px 1fr;
    }
}