:host {
    display: flex;
    flex: 1 0 0;

    .side-bar {
        display: none;
        background: #000;
    }
    
    main {
        flex: 1 0 0;
        display: grid;
        grid-template-rows: 48px 1fr 48px;
        overflow-y: hidden;

        > .main-section {
            display: flex;
            background: #000;
            overflow-y: hidden;

            > .loading-div {
                flex: 1 0 0;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                margin-top: 40px;
            }
        }
    }
}

@media (min-width: 768px) and (orientation: portrait), (min-width: 824px) and (orientation: landscape) {
    :host {
        display: grid;
        grid-template-columns: 100px 1fr;

        .side-bar {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            > picture > img {
                margin-top: 16px;
                width: 45px;
            }
        }

        main {
            grid-template-rows: max-content 1fr;

            .main-section {
                background: #121212;;
            }

            > footer {
                display: none;
            }
        }
    }
}

@media (min-width: 1024px) {
    :host {
        grid-template-columns: 230px 1fr;

        .side-bar {
            align-items: flex-start;

            > picture > img {
                margin-top: 24px;
                margin-left: 24px;
                width: 131px;
            }
        }
    }
}