article {
    display: grid;
    grid-template-columns: 56px 1fr;
    grid-gap: 16px;
    padding: 8px 16px;
    cursor: pointer;

    &:active {
        opacity: 0.6;
        padding: 10px 18px;
    }

    > div {
        overflow-x: hidden;

        > h3 {
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 1.6rem;
            line-height: 2.4rem;
            font-weight: 600;
        }

        > p {
            color: #b3b3b3;
            font-size: 1.3rem;
        }
    }
}

@media (min-width: 768px) and (orientation: portrait), (min-width: 824px) and (orientation: landscape) {
    article {
        background: #282828;
        padding: 20px 20px 16px;
        border-radius: 8px;
        grid-template-columns: 1fr;

        > img {
            min-width: 125px;
            min-height: 125px;
            width: 100%;
        }

        > div {
            min-height: 62px;

            > h3 {
                font-size: 1.4rem;
                line-height: 2.0rem;
            }

            > p {
                margin-top: 4px;
                font-size: 1.2rem;
                line-height: 1.8rem;
            }
        }
    }
}