form {
    display: flex;
    align-items: center;
    background: #535353;

    > svg {
        padding: 12px;
        color: #FFF;
        width: 48px;
        height: 48px;
    }

    > input {
        flex: 1 0 0;
        background: transparent;
        font-size: 1.6rem;
        border: 1px solid transparent;
        outline: none;
        color: #FFF;

        &::placeholder {
            color: #FFF;
        }
    }
}

@media (min-width: 768px) and (orientation: portrait), (min-width: 824px) and (orientation: landscape) {
    form {
        background: transparent;
        padding: 16px 24px;

        > input {
            color: #000;
            font-size: 1.4rem;
            line-height: 4rem;
            height: 40px;
            flex: 0 0 360px;
            padding: 6px 48px;
            background: #FFF;
            border-radius: 500px;

            &::placeholder {
                color: #898989; 
            }
        }
    }
}