<form [formGroup]="formGroup">
    <svg height="24" role="img" width="24" viewBox="0 0 24 24" aria-labelledby="chevron-left-icon" class="Icon-sc-1ure639-0 gItpfC"><title id="chevron-left-icon">Left chevron</title><path fill="none" d="M24 0v24H0V0z"></path><path fill="#fff" d="M4.54 12L18.59 0l.87 1.02L6.61 12l12.85 10.98-.87 1.02L4.54 12z"></path></svg>
    <input type="text" formControlName="searchTerm" placeholder="Search" />
    <svg height="24" role="img" width="24" viewBox="0 0 24 24" aria-labelledby="x-icon" class="Icon-sc-1ure639-0 gItpfC"><title id="x-icon">Close</title><path d="M4.93,4.93,19.07,19.07m-14.14,0L19.07,4.93" fill="none" stroke="currentColor" stroke-miterlimit="10"></path></svg>
</form>