<button class="mobile-back-button" [disabled]="backButtonDisabled" (click)="navigateBack()">
    <ldsc-left-arrow [disabled]="backButtonDisabled"></ldsc-left-arrow>
</button>
<button class="tablet-back-button" [disabled]="backButtonDisabled" (click)="navigateBack()">
    <ldsc-left-arrow [disabled]="backButtonDisabled"></ldsc-left-arrow>
</button>
<button class="tablet-forward-button" [disabled]="forwardButtonDisabled" (click)="navigateForward()">
    <ldsc-right-arrow [disabled]="forwardButtonDisabled"></ldsc-right-arrow>
</button>
