<footer>
    <div class="menu-item">
        <div>
            <svg height="24" role="img" width="24" viewBox="0 0 24 24" aria-labelledby="home-icon" class="Icon-sc-1ure639-0 gItpfC"><title id="home-icon">Home</title><path fill="currentColor" d="M12 3l8 4.927V21h-5.647v-7.03H9.647V21H4V7.968L12 3zm0-1L3 7.506V22h7.579v-6.973h2.842V22H21V7.464L12 2z"></path></svg>
            <span>Home</span>
        </div>
    </div>
    <div class="menu-item">
        <div class="active">
            <svg height="24" role="img" width="24" viewBox="0 0 24 24" aria-labelledby="search-icon-active" class="Icon-sc-1ure639-0 gItpfC"><title id="search-icon-active">Search</title><path fill="currentColor" fill-rule="evenodd" d="M16.736 16.262A8.457 8.457 0 0 0 19 10.5a8.5 8.5 0 1 0-3.779 7.067l4.424 5.18 1.521-1.299-4.43-5.186zM10.5 17A6.508 6.508 0 0 1 4 10.5C4 6.916 6.916 4 10.5 4S17 6.916 17 10.5 14.084 17 10.5 17z"></path></svg>
            <span>Search</span>
        </div>
    </div>
</footer>